<footer>
<p>
   Page by Netfra Limited, based on the <a href="{{ pkg.repository.url }}">EleventyOne</a> project.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
