/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

/* colours */
$page-color: #05371c;
$text-color: #fff;
$accent-color: #0A6F38;
$dark-color: #000;

/* old accent-color: #27de7d */
