/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

/* colours */
$page-color: #A3A3A3;
$text-color: #000;
$accent-color: #759674;
$dark-color: #fff;

/* old accent-color: #27de7d */
