/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

/* colours */
$page-color: #d1d1d1;
$text-color: #000;
$accent-color: #c7d5c7;
$dark-color: #fff;

/* old accent-color: #27de7d */
